* {box-sizing: border-box;}

@font-face {
  font-family: '../fonts/Helvetica-Neue-Interface-M3';
    src:  url('../fonts/Helvetica-Neue-Interface-M3.ttf.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Interface-M3.ttf.svg#Helvetica-Neue-Interface-M3') format('svg'),
    url('../fonts/Helvetica-Neue-Interface-M3.ttf.eot'),
    url('../fonts/Helvetica-Neue-Interface-M3.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #f7f7f7;
	margin: 0;
	color: #2a2a2a;
	font-family: '../fonts/Helvetica-Neue-Interface-M3';
}

.header {
	padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.trendmicro {     
	width: auto;
	height: 1.3em;
	vertical-align:middle;
	margin-left: 20px;
	margin-right: 3px;
}

.linkedin {
	width: auto;
	height: 2em;
	vertical-align:middle;
	margin-right: 3px;
}

h3 { font-size: 23px; margin-bottom: -15px;}

.header-text {
    text-align: center;
}

.content {
	margin-top: 50px;
	width: auto;
	text-align: center;
}

.footer {
	margin-top: 50px;
	margin-bottom: 50px;
	width: auto;
	text-align: center;
}

.first-row {
	margin: 10px;
}

.first-row img{
	margin: 10px 10px 0 0;
	cursor: pointer;
}

.second-row img{
	margin: 10px 10px 0 0;
	cursor: pointer;
}

#about:hover{
	content: url('../assets/about_hover.png');
}

#experience:hover{
	content: url('../assets/experience_hover.png');
}

#education:hover{
	content: url('../assets/education_hover.png');
}

#certs:hover{
	content: url('../assets/certs_hover.png');
}

#skills:hover{
	content: url('../assets/skills_hover.png');
}

#accomp:hover{
	content: url('../assets/accomp_hover.png');
}

.foot-text {
	margin-top: 30px;
}