* {box-sizing: border-box;}

@font-face {
  font-family: '../fonts/Helvetica-Neue-Interface-M3';
    src:  url('../fonts/Helvetica-Neue-Interface-M3.ttf.woff') format('woff'),
    url('../fonts/Helvetica-Neue-Interface-M3.ttf.svg#Helvetica-Neue-Interface-M3') format('svg'),
    url('../fonts/Helvetica-Neue-Interface-M3.ttf.eot'),
    url('../fonts/Helvetica-Neue-Interface-M3.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-image: url('../assets/background.png');	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #2a2a2a;
	font-family: '../fonts/Helvetica-Neue-Interface-M3';
}

.header {
	padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.trendmicro {     
	width: auto;
	height: 1.3em;
	vertical-align:middle;
	margin-left: 20px;
	margin-right: 3px;
}

.lol {
	width: auto;
	height: 2em;
	vertical-align:middle;
	margin-right: 3px;
}

h3 { font-size: 23px; margin-bottom: -15px;}

.header-text {
    text-align: center;
}

.content {
	height:50%;
	width: auto;
	text-align: center;
}

.footer {
	width: auto:;
	height: 10%;
	text-align: center;
}